.appBlockchain{
  background-color: #202020;
}

.bgBlockchain {
  display: grid;
  justify-content: center;
  gap: 30px;
  margin: 30px auto;
}

.blockchain{
  background-color: #515151;
  padding: 50px;
  font-size: 1.75rem;
  text-align: center;
  max-width: 40ch;
  color: white;
}

.tituloBlockchain{
  font-size: 3rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
}


.btRefreshBTC{
  font-size: 1.75rem;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  border: 3px solid black;
  max-width: fit-content;
  justify-self: center;
}

.btRefreshBTC:hover{
  border: 3px solid #BABAF0;
}

@media(max-width:600px){
  .blockchain{
    font-size: 1rem;
  }
  
  .tituloBlockchain{
    font-size: 1.5rem;
  }
}