#appCronometro {
  background-color: #202020;
}

.bgAppCronometro {
  margin: 0 auto;
}

.bgCronometro{
  display: block;
  margin: 50px;
  padding: 50px;
  background-color: #515151;
}

.bgBotoesCronometro{
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 0 auto;
}

.iniciar, .pausar, .resetar{
  font-size: 2rem;
  padding: 30px;
  border-radius: 5px;
  width: 12ch;
  text-align: center;
  border: 3px solid black;
}

.iniciar:hover, .pausar:hover, .resetar:hover{
  border: 3px solid #BABAF0;
}

.bgTempo{
display: grid;
justify-content: center;
margin: 0 auto;
}

.tempo{
  font-size: 4rem;
  color: white;
  padding: 30px;
}

@media(max-width:600px){
  .tempo {
    font-size: 2rem;
  }
  .iniciar, .pausar, .resetar{
    font-size: 1rem;
    width: 15ch;
  }
  .bgCronometro{
    margin: 10px;
    padding: 10px;
  }
}