.bgCountdown{
  display: grid;
  gap: 30px;
}

.mostrador {
  margin: 0 auto;
  display: grid;
  justify-content: center;
}

.caixa{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  border-radius: 5px;
}

.countdown {
  border: 3px solid #9191BD;
  padding: 10px 30px;
  border-radius: 5px;
  width: 10ch;
  text-align: center;
  font-size: 1.5rem;
  color: #353570;
  background-color: #BABAF0;
}

.evento{
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: #353570;
  padding: 30px;
  border-radius: 0 0 5px 5px;
  margin: 0 auto;
}

.calendario{
  font-size: 1.5rem;
  display: grid;
  margin: 0 auto;
  justify-content: center;
  padding: 30px;
  gap: 15px;
}

.calendario label{
  text-align: center;
}

.calendario input{
  font-size: 1.5rem;
  border-radius: 5px;
  text-align: center;
  padding: 10px 20px;
}

.bt {
  font-size: 1.25rem;
  border: 2px solid black;
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 10px 20px;
}

.bt:hover {
  border: 2px solid rgba(0,0,0,.5);
  background-color: #262626;
}

.bt:active {
  border: 2px solid #353570;
  background-color: #BABAF0;
}

.tituloCountdown{
  text-align: center;
  font-size: 3rem;
  margin-top: 30px;
  color: black;
  text-transform: uppercase;
}

#data{
  width: fit-cointainer;
}

@media(max-width:600px){
  .bgCountdown{
    gap: 15px;
  }
  
  .caixa{
    gap: 15px;
    padding: 15px;
  }
  
  .countdown {
    width: 8ch;
    font-size: 1rem;
  }
  
  .evento{
    font-size: 1.5rem;
    padding: 15px;
  }
  
  .calendario{
    font-size: 1.25rem;
    padding: 15px;
    gap: 10px;
  }
  
  .calendario input{
    font-size: 1.25rem;
  }
  
  .bt {
    font-size: 1rem;
    padding: 10px 20px;
  }

}