.appChuck{
  background-color: #202020;
}

.btPiada{
  font-size: 2rem;
  padding: 10px 20px;
  border: 3px solid black;
  border-radius: 5px;
}

.btPiada:hover{
  border: 3px solid #BABAF0;
}

.piada {
  font-size: 2rem;
  width: 45ch;
  color: white;
}

.tituloChuck{
  color: white;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}

.bgChuck{
  display: grid;
  gap: 30px;
  justify-content: center;
  margin: 50px auto;
}

.bgBT{
  display: flex;
  justify-content: center;
}

@media(max-width:600px){
  .piada{
    font-size: 1.25rem;
  }

  .btPiada{
    font-size: 1.5rem;
  }

  .tituloChuck{
    font-size: 2rem;
  }
}